.sidenav {
    height:100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: :hidden;
    padding-top:20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left:160px;
    padding-left 0px 10px;
}

.refresh {
    background-color: gray;
    border: 3px solid gray;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    color: white;
}

.refresh:hover {
     opacity: 0.8;
}


table {
    border: solid 1px #ff6a00;
    margin-top: 10px;
}

table thead {
    background: #b6ff00;

}

table td, table th {
        padding: 10px;
}

.details {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
